.venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.pycache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
_pycache_/
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
